 h3 {
        color: green;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
      }
      p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 400px;
    text-align: justify;
             }
             #head{
              color: blueviolet;
             }
             .class1{
              color: rgb(164, 11, 90);
              font-family: 'Times New Roman', Times, serif;
             }